.movieList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (max-width: 480px) {
  .movieList {
    grid-template-columns: 100%;
  }
}
